<div>
  <form action="/songs" method="POST">
      <label for="song">Song</label>
      <input id="song" type="text" name="song" required>

      <input type="submit" value="Search by Song">
  </form>
<div>
<hr>
<div>
  <form action="/album" method="POST">
      <label for="album">Album</label>
      <input id="album" type="text" name="album" required>

      <input type="submit" value="Search by Album">
  </form>
<div>
